In [1]:
from data.data_store import create_dataset, download_data
from feature.feature import create_batch_feature
from model.train import train_model, eval_model

import pandas as pd
import torch

Warning - Certain functionality
             requires requests_html, which is not installed.

             Install using:
             pip install requests_html

             After installation, you may have to restart your Python session.

In [2]:
start_date = "2023-01-01"
end_date = "2024-12-31"

df = create_dataset("TSLA", start_date, end_date)

/Users/wz/Documents/Quant/stock-prediction/data/data_store.py:73: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  earnings = earnings.loc[start_date:end_date]

In [10]:
df.iloc[60:80, 20:30]

,MA_50_diff,EPS_Estimate,EPS_Reported,Surprise(%),Earnings_Date,trend_5days+,trend_5days-,trend_10days+,trend_10days-,trend_30days+
2023-03-30,0.007206,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-03-31,0.008638,NaN,NaN,NaN,False,0.0,1.0,0.0,1.0,0.0
2023-04-03,0.006544,NaN,NaN,NaN,False,0.0,1.0,0.0,1.0,0.0
2023-04-04,0.005175,NaN,NaN,NaN,False,0.0,1.0,0.0,1.0,0.0
2023-04-05,0.004389,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-04-06,0.004265,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-04-10,0.002534,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-04-11,0.000927,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-04-12,0.001446,NaN,NaN,NaN,False,1.0,0.0,1.0,0.0,1.0
2023-04-13,0.001319,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-04-14,0.000373,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-04-17,-0.000128,NaN,NaN,NaN,False,0.0,1.0,0.0,1.0,0.0
2023-04-18,-0.000589,0.85,0.85,-0.04,True,NaN,NaN,NaN,NaN,NaN
2023-04-19,-0.001472,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
2023-04-20,-0.003519,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-04-21,-0.003781,NaN,NaN,NaN,False,0.0,1.0,0.0,1.0,0.0
2023-04-24,-0.004693,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-04-25,-0.003815,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,0.0
2023-04-26,-0.004323,NaN,NaN,NaN,False,1.0,0.0,1.0,0.0,1.0
2023-04-27,-0.005209,NaN,NaN,NaN,False,1.0,0.0,1.0,0.0,1.0

In [2]:
start_date = "2023-01-01"
end_date = "2024-12-31"

df = create_dataset("TSLA", start_date, end_date)
features, labels, dates = create_batch_feature(df)
model, criterion, test_loader, idx_test = train_model(features, labels, epochs=100)
pr_table, dates_table = eval_model(model, criterion, test_loader, idx_test, dates)

/Users/wz/Documents/Quant/stock-prediction/data/data_store.py:64: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  earnings = earnings.loc[start_date:end_date]

Epoch [10/100], Loss: 0.5440
Epoch [20/100], Loss: 0.4841
Epoch [30/100], Loss: 0.4452
Epoch [40/100], Loss: 0.4113
Epoch [50/100], Loss: 0.3903
Epoch [60/100], Loss: 0.3601
Epoch [70/100], Loss: 0.2755
Epoch [80/100], Loss: 0.2711
Epoch [90/100], Loss: 0.2687
Epoch [100/100], Loss: 0.2486
Test Loss: 0.4459
           trend_5days+  trend_5days-  trend_10days+  trend_10days-  \
Precision      0.363636      0.533333       0.200000       0.500000
Recall         0.480000      0.421053       0.111111       0.428571

           trend_30days+  trend_30days-
Precision       0.354839       0.583333
Recall          0.647059       0.500000

In [3]:
names_metrics = dates_table.columns
columns = [i for i, name in enumerate(names_metrics) if "TP" in name]
dates_table.iloc[:, columns]

,trend_5days+TP,trend_5days-TP,trend_10days+TP,trend_10days-TP,trend_30days+TP,trend_30days-TP
0,2023-04-26,2023-03-01,2023-06-05,2023-03-01,2023-04-26,2023-03-01
1,2023-06-02,2023-08-01,2023-06-29,2023-08-04,2023-06-02,2023-08-04
2,2023-06-05,2023-08-04,None,2023-08-11,2023-06-05,2023-08-09
3,2023-06-08,2023-08-11,None,2024-01-08,2023-06-29,2023-08-11
4,2023-06-29,2024-01-08,None,2024-10-09,2023-07-17,2024-01-08
5,2023-07-17,2024-10-04,None,2024-10-16,2023-11-01,2024-10-09
6,2023-11-01,2024-10-09,None,None,2024-06-12,2024-10-16
7,2024-06-12,2024-10-16,None,None,2024-06-24,None
8,2024-06-24,None,None,None,2024-06-28,None
9,2024-06-28,None,None,None,2024-07-01,None
10,2024-07-01,None,None,None,2024-09-09,None
11,2024-09-09,None,None,None,None,None
12,None,None,None,None,None,None
13,None,None,None,None,None,None
14,None,None,None,None,None,None
15,None,None,None,None,None,None
16,None,None,None,None,None,None
17,None,None,None,None,None,None
18,None,None,None,None,None,None
19,None,None,None,None,None,None
20,None,None,None,None,None,None

In [4]:

label_names = pr_table.columns
labels_table = pd.DataFrame(
    data=labels,
    index=dates,
    columns=label_names
)
start_date = dates_table.iloc[0, 12]
end_date = dates_table.iloc[5, 12]
labels_table.loc[start_date:end_date:10]

,trend_5days+,trend_5days-,trend_10days+,trend_10days-,trend_30days+,trend_30days-
2023-04-26,1.0,0.0,1.0,0.0,1.0,0.0
2023-05-10,0.0,0.0,0.0,0.0,0.0,0.0
2023-05-24,1.0,0.0,1.0,0.0,1.0,0.0
2023-06-08,1.0,0.0,1.0,0.0,1.0,0.0
2023-06-23,0.0,0.0,0.0,0.0,0.0,0.0
2023-07-10,1.0,0.0,1.0,0.0,1.0,0.0
2023-07-26,0.0,0.0,0.0,0.0,0.0,0.0
2023-08-09,0.0,0.0,0.0,0.0,0.0,1.0
2023-08-23,0.0,0.0,0.0,0.0,0.0,0.0
2023-09-07,0.0,0.0,0.0,0.0,0.0,0.0
2023-09-21,0.0,1.0,0.0,0.0,0.0,0.0
2023-10-05,0.0,0.0,0.0,0.0,0.0,0.0
2023-10-23,0.0,0.0,0.0,0.0,0.0,0.0